/*
 * Basic Device Tree overlay file for chain-loading by mcuboot.
 * See the Makefile for more information.
 */

/ {
	chosen {
        /* Use uart0 for the mcumgr UART transport. */
        zephyr,uart-mcumgr = &uart0;
	};
};
